<div class="grid grid-cols-1 grid-rows-[70px_1fr] h-screen">



  <div class="flex justify-center items-center gap-10 ">
    <button
      nz-button
      nzType="primary"
      [nzSize]="'large'"
      class="bg-[#2B569A] text-base flex items-center"
      (click)="onClickLoad()"
    >
      <span nz-icon nzType="form" nzTheme="outline"></span>
      Load Data
    </button>
    <button
      nz-button
      nzType="primary"
      [nzSize]="'large'"
      class="bg-[#2B569A] text-base flex items-center"
      (click)="onClickSave()"
    >
      <span nz-icon nzType="download"></span>
      Download Pdf
    </button>
  </div>
  <div class="flex shadow-md m-6 flex-1 h-full">
    <tx-document-editor
      width="100%"
      height="100%"
      webSocketURL="wss://backend.textcontrol.com/TXWebSocket?access-token=EJ85AVinwm4iHdCqMVaC"
    >
    </tx-document-editor>
  </div>
</div>

